services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass   
      MYSQL_DATABASE: appdb # 可选
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql # 指定 MySQL 容器名称
      PMA_PORT: 3306  # 可选，默认就是 3306
    ports:
      - "8080:80"
    depends_on:
      - mysql

volumes:
  mysql_data:
